@keyframes bounceKeyFrames {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.rendertip-component{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  .rendertip__display {
    left: 0;
    top: 0;
    padding: 0px;
    border: 2px solid #e67e22;
    background-color:#f1c40f;
    height: 100%;
    color:white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius:4px;
    padding: 0 2px;
    font-size: 16px;
    &.style-animate {
      animation: bounceKeyFrames 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}