@import './theme.scss';

body {
  color: black;
  background-color: #fff;
  transition: background-color .3s;
  &.dark{
    color: white;
    background-color:rgba(46, 49, 49, 1);
  }
}

.app{
  width: 460px;
  padding: 0 10px;
  font-family: 'Microsoft JhengHei';
  margin: 10px auto;
  &.dark{
    background-color: #222222;
  }
}


