doctype html
html
  head
    meta(charset='UTF-8')
    title React
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css")
  body
    #root